<a href="https://colab.research.google.com/github/HarshitaShibe/Subset_Selection_Project/blob/main/Subset_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Subset Selection Problem**

**Problem Statement** : Find all the subsets from a set of numbers whose sum is zero.

**Constraint : Subset Size must be 5**

Set = { -12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 }

1) LIBRARY INCLUSION

In [30]:
import random as r

2) PARAMETER SETTING

In [31]:
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 ])
SetSize = 5
ResultList = set()    # List of sets that fulfill the condition
Iterations = 1000     # Number of Iterations

3) START PROGRAM

In [32]:
for i in range(Iterations):
  elementSelection = r.sample(list(Set),SetSize)

 # Selection of elements randomly from the given set & formation of subsets of size 5

  if sum(elementSelection) == 0:
    ResultList.add(tuple(elementSelection))

  # If the subset fulfills the condition, add that elementSelection to ResultList after
  # it's conversion to a tuple (preferred because it's immutable)

4) PRINT SETS AND TOTAL COUNT

In [33]:
for r in ResultList: # Printing the subsets that fulfill the conditions
  print(r)


print("\nTotal Sets :", len(ResultList), "\n")
# Printing total number of sets

(1, 3, 7, -6, -5)
(-5, 3, 7, 1, -6)
(-9, 7, -6, -3, 11)
(11, 3, 1, -9, -6)
(-7, 6, 2, 11, -12)
(-12, 11, 1, 2, -2)
(-6, -9, 3, 1, 11)
(-5, -12, 9, 7, 1)
(-2, 1, -4, 2, 3)
(9, -3, 3, -2, -7)
(1, 3, -8, 11, -7)
(-8, 1, 7, -2, 2)
(6, -2, -7, 7, -4)
(6, -4, 9, -2, -9)
(11, -5, 7, -7, -6)
(6, -8, 3, 2, -3)
(11, -2, -9, -7, 7)
(-6, 11, -4, -2, 1)
(11, -7, -8, 6, -2)
(2, 1, -3, 9, -9)
(-7, 1, 11, 7, -12)
(-3, -12, 11, 6, -2)
(9, -5, 11, -3, -12)
(-8, 7, -6, 1, 6)
(7, -6, -5, 3, 1)
(-6, -2, 1, -4, 11)
(6, 9, -8, -5, -2)
(-2, 6, 3, 1, -8)

Total Sets : 28

5) COMPLETE PROGRAM

In [34]:
# Step One:- Library Inclusion
import random as r

# Step Two:- Parameter Setting
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 ])
SetSize = 5
ResultList = set()
Iterations = 1000

# Step Three:- Start Program
for i in range(Iterations):
  elementSelection = r.sample(list(Set), SetSize)
  if sum(elementSelection) == 0:
    ResultList.add(tuple(elementSelection))

for r in ResultList:
  print(r)
print("\nTotal Sets :", len(ResultList), "\n")

(6, 2, -7, 11, -12)
(-6, 6, -9, 2, 7)
(-3, 7, -4, 9, -9)
(1, -6, -4, 7, 2)
(11, -4, -6, -3, 2)
(-6, -12, 9, 6, 3)
(6, -4, -6, -5, 9)
(6, -4, -6, 1, 3)
(-2, -3, 2, 7, -4)
(6, -8, 1, -6, 7)
(-12, -2, 11, 1, 2)
(9, 7, -8, 1, -9)
(-7, -5, 7, -6, 11)
(-4, 11, -5, -9, 7)
(-2, 11, -7, -8, 6)
(-2, -7, 2, 1, 6)
(-2, 7, -3, -8, 6)
(1, -3, -7, 3, 6)
(-5, -9, 11, 1, 2)
(-9, 7, 3, -2, 1)
(-8, 6, 3, -12, 11)
(3, -8, 1, -5, 9)
(2, 7, 1, -7, -3)
(-7, 3, 2, -9, 11)
(7, -4, -6, 11, -8)
(-9, 11, -12, 7, 3)
(3, -2, -12, 9, 2)
(7, -12, 3, 9, -7)

Total Sets : 28

6) COMPLETE PROGRAM WITH SORTING

In [35]:
# Step One:- Library Inclusion
import random as r

# Step Two:- Parameter Setting
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 ])
SetSize = 5
ResultList = set()
Iterations = 1000

# Step Three:- Start Program
for i in range(Iterations):
  elementSelection = r.sample(list(Set), SetSize)
  elementSelection.sort()

  if sum(elementSelection) == 0:
    ResultList.add(tuple(elementSelection))

for r in ResultList:
  print(r)
print("\nTotal Sets :", len(ResultList), "\n")

(-12, -3, 2, 6, 7)
(-12, -6, -2, 9, 11)
(-7, -4, -2, 6, 7)
(-12, -6, 1, 6, 11)
(-9, -8, 2, 6, 9)
(-8, -7, -3, 7, 11)
(-7, -3, 1, 3, 6)
(-12, -2, 1, 6, 7)
(-6, -4, -3, 6, 7)
(-7, -4, 2, 3, 6)
(-9, -3, 1, 2, 9)
(-7, -5, -2, 3, 11)
(-12, 1, 2, 3, 6)
(-8, -3, 1, 3, 7)
(-9, -8, 1, 7, 9)
(-9, -6, -5, 9, 11)
(-6, -4, -2, 3, 9)
(-12, -8, 3, 6, 11)
(-9, -5, -2, 7, 9)
(-9, -5, 1, 6, 7)
(-7, -6, -3, 7, 9)
(-7, -3, -2, 1, 11)
(-6, -3, -2, 2, 9)
(-12, -4, 3, 6, 7)
(-6, -4, -2, 1, 11)
(-7, -6, -5, 7, 11)
(-8, -7, 2, 6, 7)

Total Sets : 27

## Follow Up Problem Statement:-

Find all the subsets from a set of numbers whose sum is zero.

**Constraint: Subset size must be 3 to 6 only**

Set = { -12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 }

In [24]:
# Step One:- Library Inclusion
import random as r

# Step Two:- Parameter Setting
Set = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4 ])
LowerBound = 3
UpperBound = 6
ResultList = set()
Iterations = 1000

# Step Three:- Start Program
for i in range(Iterations):
  SetSize = r.randint(LowerBound,UpperBound)
  elementSelection = r.sample(list(Set), SetSize)
  elementSelection.sort()

  if sum(elementSelection) == 0:
    ResultList.add(tuple(elementSelection))

for r in ResultList:
  print(r)
print("\nTotal Sets :", len(ResultList), "\n")

(-12, -6, 3, 6, 9)
(-9, 2, 7)
(-7, -5, 3, 9)
(-8, -7, -3, 7, 11)
(-5, -4, 1, 2, 6)
(-8, -6, 3, 11)
(-5, 2, 3)
(-12, 3, 9)
(-7, -6, -2, 6, 9)
(-8, -2, 3, 7)
(-4, 1, 3)
(-12, 1, 11)
(-12, -7, -4, 3, 9, 11)
(-12, 2, 3, 7)
(-4, -3, -2, 9)
(-9, -3, 1, 2, 3, 6)
(-7, -4, 11)
(-9, -8, -5, 6, 7, 9)
(-9, -2, 11)
(-6, -3, 9)
(-6, -4, -2, 2, 3, 7)
(-9, -7, 3, 6, 7)
(-5, -3, -2, 1, 9)
(-12, -7, 3, 7, 9)
(-9, -7, 1, 6, 9)
(-8, -7, 6, 9)
(-9, -6, 1, 3, 11)
(-7, 1, 6)
(-4, -3, 7)
(-12, -6, -3, 1, 9, 11)
(-5, -4, 9)

Total Sets : 31